<!--<div class="android-navigation-container">
    <i class="user icon"></i>{{ user.username }}
</div>
<button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
    <i class="material-icons">arrow_drop_down</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
    <li class="mdl-menu__item"><i class="refresh icon"></i>Cambiar clave</li>
    <li class="mdl-menu__item"><i class="user icon"></i>Mi cuenta</li>
    <a href="{% url 'logout'  %}"><li class="mdl-menu__item"><i class="sign out icon"></i> Cerrar sesion</li></a>
</ul>-->


	<div class="ui fixed inverted blue menu">
		<div class="ui container">
			<a href="#" class="header item">
				Bitacora ATC
			</a>			
        </div>
	</div>
	