<!DOCTYPE html>
<html ng-app="binacle">
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
		{% load staticfiles %}
	<title>{% block page_title %}{% endblock page_title %}</title>
	<link rel="stylesheet" href="{% static "bower_components/material-design-lite/material.min.css" %}">
	<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "bower_components/material-design-lite/material.min.js" %}"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/semantic-ui/dist/semantic.min.css" %}">
	<script src="{% static "bower_components/semantic-ui/dist/semantic.min.js" %}"></script>
	
</head>
<body>

{% block main_menu %}
{% endblock main_menu %}

<div class="ui main container" style="margin-top:50px"> 
		{% block content %}
		{% endblock content %}
</div>

<link rel="stylesheet" href="{% static "bower_components/uikit/css/uikit.min.css" %}">
<link rel="stylesheet" href="{% static "bower_components/uikit/css/components/notify.almost-flat.min.css" %}">


    <script src="{% static "bower_components/uikit/js/uikit.min.js" %}"></script>
    <script src="{% static "bower_components/uikit/js/components/notify.min.js" %}"></script>

{% block extra_js %}
		
{% endblock extra_js %}
</body>
</html>